.main {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    // background-color: rgb(23,23,23);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landingSection {
    padding-top:100px;
    width: 100vw;
    max-width: 100%;    

    .landingImage {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.aboutSection {
    width: 100%;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;

    img {
        height: 100px;
    }

    .aboutContent {
        font-size: 1.5rem;
        text-align: center;
        margin: 2px;
        p {
            margin:0;
        }
    }
}

.socialSection {
    padding: 50px;
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-around;

    @media (max-width: 800px) {
        flex-direction: column;
        padding: 50px 0;
    }

    .youtubeEmbed {
        margin-right: 30px;
        @media (max-width: 800px) {
            margin: 50px 0;
        }
    }

    .twitterEmbed {
        width: 400px;
        box-shadow: 1px 2px 40px 10px rgba(0,0,0,0.08);
        border-radius: 10px;
    }
}

.contactSection {
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
    .contactForm {
        margin: 50px;
        box-shadow: 10px 10px 80px 10px rgba(0,0,0,0.09);
        border-radius: 10px;
        padding: 20px;
        border: 1px solid #f3f3f3;

        form {
            height: 100%;
            width: 600px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            label{
                margin-top: 30px;
                font-size: 1.2rem;
            }
            input, textarea {
                border: none;
                padding: 10px 3px;
                margin-top: 10px;
                font-size: 1rem;
                color: #666;
                border-bottom: 1px solid rgb(201, 201, 201);
                position: relative;
            }
            input::before, textarea::before {
                position: absolute;
                display: solid;
                content: 'a';
                width: 100px;
                height: 2px;
                background-color: orange;
            }
            input:focus, textarea:focus {
                outline: 0;
                box-shadow: 1px 5px 10px rgba(0,0,0,0.1),
                            1px 10px 30px 5px rgba(0,0,0,0.05);
            }
            @media (max-width: 800px) {
                width: 100vw;
                max-width: 100%;
            }
        }
    }

    .contactMap {
        height: 350px;
        width: 100%;
    }
}

